@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?u5hmv9');
  src:  url('fonts/icomoon.eot?u5hmv9#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?u5hmv9') format('truetype'),
    url('fonts/icomoon.woff?u5hmv9') format('woff'),
    url('fonts/icomoon.svg?u5hmv9#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-hand:before {
  content: "\e912";
}
.icon-hand-paper-o:before {
  content: "\e911";
}
.icon-add:before {
  content: "\e902";
}
.icon-calendar-plus-o:before {
  content: "\e910";
}
.icon-excel:before {
  content: "\e90d";
  color: #217346;
}
.icon-add:before {
  content: "\e902";
}
.icon-calendar-plus-o:before {
  content: "\e910";
}
.icon-grafico:before {
  content: "\e900";
}
.icon-add-solid:before {
  content: "\e90e";
}
.icon-information-solid:before {
  content: "\e901";
}
.icon-dice:before {
  content: "\e90f";
}
.icon-edit:before {
  content: "\e903";
}
.icon-admin:before {
  content: "\e904";
}
.icon-delete_user:before {
  content: "\e905";
}
.icon-add_user:before {
  content: "\e906";
}
.icon-user:before {
  content: "\e907";
}
.icon-detail_user:before {
  content: "\e908";
}
.icon-download:before {
  content: "\e909";
}
.icon-print:before {
  content: "\e90a";
}
.icon-pdf:before {
  content: "\e90b";
}
.icon-delete:before {
  content: "\e90c";
}
.icon-list:before {
  content: "\e9bb";
}
